<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.5/js/bootstrap.bundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 m-3">
    <a class="navbar-brand" th:href="@{/user/index}">Spring MVC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user/index}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Patients
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="dropdown-item" th:href="@{/formPatients}">Nouveau Patient</a>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/user/index}">Chercher</a></li>
                </ul>
            </li>

        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false"
                   th:text="${#authentication.name}">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="UserDropdown">
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <!--fermet la session coté serveur et le cookie va etre supprimé-->
                            <button type="submit" class="dropdown-item" >Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
<section layout:fragment="content1"></section>
</body>
</html>